.DS_Store
*.log
node_modules/
.env
*.env.*
!.env.example
!.env.local.example
!.env.prod.example
dist/
.cache/

# python
__pycache__/
*.egg-info/
.pytest_cache/
donum_dei.db

# next.js
.next/
out/
next-env.d.ts
